asgiref==3.4.1
certifi==2021.10.8
charset-normalizer==2.0.8
cleo==0.8.1
clikit==0.6.2
crashtest==0.3.1
Django==3.2.9
idna==3.3
nome==0.1.0
pastel==0.2.1
pylev==1.4.0
pytz==2021.3
requests==2.26.0
sqlparse==0.4.2
urllib3==1.26.7
